/* HTML elements */
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,900&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav.css";
body{
    backgroud-color: white;
    padding: 10px 20px;
    color: #020202;
    font-family: 'nanum myeongjo';
}
a{
    color: inherit;
}
